<mat-toolbar *ngIf="showNavbar()" color="primary" class="navbar">
  <nav class="menu-buttons">
    <button mat-button routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </button>

    <button mat-button routerLink="/admin/users" routerLinkActive="active-link">
      Users
    </button>

    <button mat-button routerLink="/blog" routerLinkActive="active-link">
      Blog
    </button>

    <button mat-button routerLink="/articles" routerLinkActive="active-link">
      Articles
    </button>

    <button mat-button routerLink="/notifications" routerLinkActive="active-link">
      Notifications
      <span *ngIf="(unreadCount$ | async) as count" class="notification-badge">
      <ng-container *ngIf="count > 0">{{ count }}</ng-container>
    </span>
    </button>
  </nav>



  <span class="spacer"></span>
  <span *ngIf="currentUser">{{ currentUser.name }}</span>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
